databench/_version.py
**/outputs
*/*/*/__pycache__/
*/__pycache__/*
__pycache__/
*.py[cod]
/databench.egg-info
/databench/__pycache__
/databench/_version.py
*.csv
/.DS_Store
*.log
datasets.toml


# Ignore any .py files in the same root as the gitignore file, but not in subdirectories
/*.py